<h1>Original Artist Show Page</h1>
<hr>
<h2><%= @artist.name %></h2>

<h4>Photos</h4>
<% @artist.photos.each do |photo| %>

    <%= image_tag photo.image.thumbnail %>

<% end %>

<p>Original Artist Name: <%= @artist.name %></p>
<p>Bio: <%= @artist.bio %></p>


<hr>

<h3>Songs by original artist:</h3>

<% @artist.songs.each do |song| %>
    <p><%= link_to song.song_title, song_path(song.id) %></p>
<% end %>


<hr>

<strong><p><%= link_to "[Edit]", edit_artist_path(@artist.id) %></p></strong>
<strong><p><%= link_to "[Delete]", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %></p></strong>
<hr>


<strong><p><%= link_to "New Song", new_artist_song_path(@artist.id) %></p></strong>
