<h1><%= @song.song_title %></h1>

<p>Artist Name: <%= @song.artist_name %></p>
<p>Song Title: <%= @song.song_title %></p>

<hr>

<%= link_to "[Edit]", edit_song_path(@song.id) %>
<%= link_to "[Delete]", song_path(@song.id), method: :delete, data: { confirm: "Are you sure?" } %>
